.right {
  float: right;
  line-height: 1;
  display: inline-flex;
  .back { padding-right: 15px; }
  & > div:hover { cursor: pointer; }
}

mat-card-title.mat-card-title { line-height: 1; }

.booking {
	margin: 24px 0;
	.dateTime {
		.date, .time {
			display: flex;
			line-height: 1.5;
			& > h3 {
				margin: 0;
				padding-left: 16px;
			}
		}
	}

	.button { width: 88px;}
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  .date, .time {
		width: 150px;
		margin: 0 auto;
	}

	.button { justify-content: center;     margin: 0 auto; }
	.dateTime > div { padding: 8px; }
}

@media screen and (min-device-width: 480px) {
	.dateTime {
		display: flex;
		.date, .time { flex: 1; }
	}

	.booking {
		display: flex;
		.dateTime { flex: 1;}
		.button { justify-content: flex-end; }
	}
}