<div class="appProfile">
	<mat-card>

		<mat-card-title>
			Your Bookings
			<div class="right">
				<div class="back" (click)="onBack()">
						<span><mat-icon>keyboard_backspace</mat-icon></span>
					</div>
				<div class="logout" (click)="onLogout()">
					<span><mat-icon>exit_to_app</mat-icon></span>
				</div>
			</div>
		</mat-card-title>

		<mat-card-content>
			<div class="bookings">
				
				<div class="booking" *ngFor="let booking of bookings">
					<div class="dateTime">
						<div class="date">
							<mat-icon>date_range</mat-icon>	
							<h3>{{booking.date}}</h3>
						</div>

						<div class="time">
							<mat-icon matListIcon>access_time</mat-icon>	
							<h3>{{booking.time}}</h3>
						</div>
					</div>

					<div *ngIf="!booking.passedDate; then showEmpty else showButton"></div>

					<ng-template #showEmpty>
						<div class="button">
						</div>
					</ng-template>

					<ng-template #showButton>
						<div class="button" (click)="onCancel(booking.date, booking.time)">
							<button mat-raised-button color="warn">Cancel</button>
						</div>
					</ng-template>

				</div>

			</div>
		</mat-card-content>

	</mat-card>
</div>